<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdm.opengl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.cdm.api.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activity.Sample3.Sample3_1Activity"
            android:label="Sample3/Sample3_1" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.cdm.api.activity.ViewPagerActivity" 
            android:label="Sample_ViewPager">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activity.Sample5.Sample5_1Activity" 
            android:label="Sample5/Sample5_1">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
         <activity 
             android:name=".activity.Sample5.Sample5_2Activity" 
             android:label="Sample5/Sample5_2">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.Sample5.Sample5_3Activity"
            android:label="Sample5/Sample5_3" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_4Activity"
            android:label="Sample5/Sample5_4" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_5Activity"
            android:label="Sample5/Sample5_5" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_6Activity"
            android:label="Sample5/Sample5_6" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_7Activity"
            android:label="Sample5/Sample5_7" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_8Activity"
            android:label="Sample5/Sample5_8" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_9Activity"
            android:label="Sample5/Sample5_9" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_10Activity"
            android:label="Sample5/Sample5_10" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample5.Sample5_11Activity"
            android:label="Sample5/Sample5_11" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_1_Activity"
            android:label="Sample6/Sample6_1" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_2_Activity"
            android:label="Sample6/Sample6_2" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_3_Activity"
            android:label="Sample6/Sample6_3" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_4_Activity"
            android:label="Sample6/Sample6_4" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_5_Activity"
            android:label="Sample6/Sample6_5" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_6_Activity"
            android:label="Sample6/Sample6_6" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_7_Activity"
            android:label="Sample6/Sample6_7" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample6.Sample6_10_Activity"
            android:label="Sample6/Sample6_10" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Sample7.MyActivity7_2"
            android:label="Sample7/Sample7_2" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cdm.fragment.MainActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
